@font-face {
    font-family: 'Geometria Bold';
    src: url("../assets/fonts/Geometria/Geometria-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Geometria Medium';
    src: url("../assets/fonts/Geometria/Geometria-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Geometria Light';
    src: url("../assets/fonts/Geometria/Geometria-Light.ttf") format("truetype");
}